body
{
    background-color: rgb(194, 144, 144);
}


.container
{
background-color: rgb(127, 56, 162);
color: white;
text-align: center;
padding: 20px;
}

.trapez
{
    text-align: center;
    color: white;
    
}

footer
{
    text-align: center;
    text-decoration: underline;
    margin:auto
}
